<header>
  <nav class="pub_nav">
    <h1>Disruptive Newsletter</h1>
    <!-- <div class="sitename" style="cursor: pointer" onclick="window.location.href='/'"><a href="/">Ruby Weekly</a></div> -->

    <div class="items">
      <a href="#" class="issues">Archives</a><span class="divider">|</span>
      <a href="#" class="search">Search</a><span class="divider">|</span>
      <a href="#" class="latest">Latest Issue</a><span class="divider">|</span>
      <a href="#">RSS</a>
    </div>
  </nav>
</header>

<div class="container">
  <div class="issues-page">
    <h1>Archives</h1>
    <div class="columns">
      <ul class="issues">
        <% @issues.each do |issue| %>
        <li>
          <a href="/">Issue #<%= issue.guid %></a> — <%= issue.issued_at.strftime("%d de %b del %Y") %>
          <div class="description">
            <ul>
              <% issue.articles.last(3).each do |i| %>
              <li>
                <%= i.title %>
              </li>
              <% end %>
            </ul>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
