<header>
  <a href="#">ARCHIVES</a>
  <span class="divider">|</span>
  <a href="#">SEARCH</a>
  <span class="divider">|</span>
  <a href="#">LATEST ISSUE</a>
  <span class="divider">|</span>
  <a href="#">RSS</a>
</header>
<main>
  <h1>Disruptive Newsletter</h1>
  <h2>A free, once–weekly e-mail round-up of Disruptive news and articles.</h2>
  <%= image_tag 'newsletter-sample.png' %>
  <form action="/" method="POST">
    <input type="email" placeholder="Enter your e-mail address" name="email" id="email" value="" required="">
    <button type="submit">Subscribe now »</button>
    <div>Join 39074 other subscribers today. No spam, ever.</div>
  </form>
  <div class="sample">
    Check out <a href="/issues/296">our latest issue (296)</a> for a sample of what we're all about.
  </div>
  <div>
    One e-mail each Thursday. Easy to unsubscribe.<br>
    We don't sell your details — your e-mail address is <a href="https://cooperpress.com/spam.html">safe</a><br>
    Published by <a href="https://disruptiveangels.com/">Disruptive Angels</a> and curated by <a href="http://twitter.com/acrogenesis">Adrián Rangel</a>
  </div>
</main>
