<header>
  <nav class="pub_nav">
    <h1>Disruptive Newsletter</h1>
    <!-- <div class="sitename" style="cursor: pointer" onclick="window.location.href='/'"><a href="/">Ruby Weekly</a></div> -->

    <div class="items">
      <a href="#" class="issues">Archives</a><span class="divider">|</span>
      <a href="#" class="search">Search</a><span class="divider">|</span>
      <a href="#" class="latest">Latest Issue</a><span class="divider">|</span>
      <a href="#">RSS</a>
    </div>
  </nav>
</header>
