<div class="page-header">
  <h1>Approved Articles</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Link</th>
      <th>Status</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.id, admin_article_path(article) %></td>
        <td><%= link_to article.link, article.link, target: :blank %></td>
        <td><%= article.status %></td>
        <td><%= article.category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
