<header>
  <a href="#">ARCHIVES</a>
  <span>|</span>
  <a href="#">SEARCH</a>
  <span>|</span>
  <a href="#">LATEST ISSUE</a>
  <span>|</span>
  <a href="#">RSS</a>
</header>
<main>
  <h1>Disruptive Newsletter</h1>
  <h2>A free, once–weekly e-mail round-up of Disruptive news and articles.</h2>
  <%= image_tag 'newsletter-sample.png' %>
  <form action="//disruptiveangels.us12.list-manage.com/subscribe/post?u=aa8d10d2414ce7773877e2c27&amp;id=771ca21c99" method="post" target="_blank">
    <input type="email" placeholder="Enter your e-mail address" name="EMAIL" value="" required="">
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aa8d10d2414ce7773877e2c27_771ca21c99" tabindex="-1" value=""></div>
    <button type="submit" value="Subscribe" name="subscribe">Subscribe now »</button>
    <div>Join 39074 other subscribers today. No spam, ever.</div>
  </form>
  <div class="sample">
    Check out <a href="/issues/296">our latest issue (296)</a> for a sample of what we're all about.
  </div>
  <div>
    One e-mail each Thursday. Easy to unsubscribe.<br>
    We don't sell your details — your e-mail address is <a href="https://cooperpress.com/spam.html">safe</a><br>
    Published by <a href="https://disruptiveangels.com/">Disruptive Angels</a> and curated by <a href="http://twitter.com/acrogenesis">Adrián Rangel</a>
  </div>
</main>
