$disruptive-blue: #469cb6;
$alt: #b52323;

body {
  border-top: 8px solid $disruptive-blue;
  color: #222222;
  font-family: "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  min-height: 100vh;
  position: relative;

  a, h1, h2, h3 {
    // color: $disruptive-blue;
    text-decoration: none;
    font-weight: 300;


    &[href^="http"] {
      text-decoration: underline;
    }
  }
}

header {
  text-align: center;
  font-weight: 300;

  a {
    line-height: 20px;
    margin: 0;
    padding: 0 14px 0 12px;
  }
}

.main-title {
  color: $disruptive-blue;
  font-size: 3.2em;
  font-weight: 500;
  text-shadow: 2px 2px 0 #eee;
}

.main-pitch {
  font-weight: 300;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 30px 0;
  width: 740px;
}

main {
  text-align: center;

  .newsletter-sample {
    margin-bottom: 1em;
    width: 670px;
  }

  .subscribe-form {
    background-color: lighten($disruptive-blue, 30%);
    padding: 6px 0;

    input {
      font-size: 18px;
      min-width: 20em;
      padding: 7px 4px;
    }

    button {
      -webkit-appearance: none;
      background-color: $alt;
      background-image: linear-gradient(to bottom, lighten($alt, 5%), darken($alt, 5%));
      border: 1px solid darken($alt, 2.5%);
      border-radius: 3px;
      box-shadow: 1px 1px 3px #999;
      color: #fff;
      cursor: pointer;
      font-family: "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
      font-size: 18px;
      -webkit-font-smoothing: antialiased;
      font-weight: 500;
      margin-left: 10px;
      padding: 7px 14px;
    }

    div {
      font-family: verdana, tahoma, arial, sans-serif;
      font-size: 11px;
      margin-top: 4px;
    }
  }

  .sample {
    font-size: 1.4em;
    margin: 1em 0;
  }

  // .strap {
  //   margin: 1em 0;
  // }
}

#border-b {
  background-color: $disruptive-blue;
  bottom: 0;
  height: 8px;
  position: absolute;
  width: 100%;
}

.home-items {
  display: block;
  clear: left;
  text-align: center;
  padding-top: 12px;
}

.items {
  display: block;
  clear: left;
  text-align: left;
  padding-top: 12px;
}

.divider {
  display: none;
}

.issues-page {
  display: block;
  padding: 0 12px;
  max-width: 740px;
  h1 {
    color: $disruptive-blue;
    font-weight: 300;
  }
  ul {
    list-style-type: none;
  }

  .description {
    ul {
      list-style-type: square;
      margin-top: 3px;
      li {
        color: #9C9999;
        font-weight: normal;
        font-size: 0.8em;
        line-height: 1.3em;
        margin-bottom: 2px;
        break-inside: avoid;
      }
    }
  }
}

/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100% !important;
  min-width: 100%;
  padding: 0;
  margin: 0;
  Margin: 0;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

table,
tbody,
tr,
td {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  vertical-align: top;
}

table,
tbody,
tr,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img { border: none; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block;
}

.wrapped {
  padding-left: 40px;
  padding-right: 40px;
}

/* STYLES */
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: #f5f5f5;
}

/*
  MAIN TABLE
*/
.main {
  padding: 0;
  margin: 0;
  Margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.issue-container {
  max-width: 600px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

/* preheader */
.preheader {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
  Margin: 0;
  text-align: center;
  font-size: 13px;
  color: #9B9B9B;
}

.preheader a{
  color: #469CB6;
}

/* header */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.header-title {
  margin-bottom: 16px;
  font-family: 'VelinoDisplay-Bold', serif;
  font-weight: bold;
  font-size: 3rem;
  color: #0B2B43;
}

.header-issue {
  font-weight: bold;
  letter-spacing: 6px;
  color: #469CB6;
}

/* mainArticle */
.mainArticle {
  margin-bottom: 32px;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}

.mainArticle-image {
  display: block;
  margin-bottom: 32px;
  width: 100%;
}

.mainArticle-title {
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 32px;
  color: #0B2B43;
}

.mainArticle-content {
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  color: #4A4A4A;
  line-height: 28px;
}

.mainArticle-btn {
  max-width: 200px;
  margin: 40px auto;
  text-align: center;
  padding: 14px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: white;
  background-color: #0B2B43;
  border-radius: 5px;
}

.mainArticle .saveLinks {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* share icons */
.share-icons {
  text-align: center;
}

.share-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #9B9B9B;
}

.shareIcon {
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  text-decoration: none;
}

.shareIcon img {
  display: block;
  width: 100%;
}

.shareIcon--tw { width: 26px; }
.shareIcon--fb { width: 14px; }
.shareIcon--in { width: 23px; }

/* saveLinks */
.saveLinks {
  font-size: 12px;
  letter-spacing: 1px;
  color: #9B9B9B;
}

.link-pocket { color: #EF4056; }
.link-instapaper { color: black; }
.link-readability { color: #9A1400; }

/* Curated Articles */
.articles {
  margin-bottom: 32px;
  border-radius: 5px;
  background-color: white;
}

.contentTitle {
  margin-bottom: 32px;
  text-align: center;
  font-family: VelinoDisplay-Bold;
  font-size: 32px;
  color: #0B2B43;
}

/* article */
.article {
  margin-top: 20px;
  margin-bottom: 20px;
  table-layout: fixed;
}

.article.first {
  margin-top: 40px;
}

.article.last {
  margin-bottom: 40px;
}

.article-image {
  width: 200px;
  padding-right: 20px;
}

.article-image a {
  display: block;
  text-decoration: none;
}

.article-content {
  width: 320px;
}

.article-category {
  /*margin-bottom: 10px;*/
  font-weight: bold;
  font-size: 12px;
  color: #5ED1F3;
  text-transform: uppercase;
}

.article-title {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: HelveticaNeue;
  color: #0B2B43;
}

.article-title h3 {
  font-weight: normal;
  font-size: 20px;
}

.article-time {
  text-align: right;
  font-size: 12px;
  color: #9B9B9B;
  vertical-align: bottom;
}

.article-time p { width: 80px; }
