$disruptive-blue: #469cb6;
$alt: #b52323;

body {
  border-top: 8px solid $disruptive-blue;
  color: #222222;
  font-family: "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  min-height: 100vh;
  position: relative;

  a {
    color: $disruptive-blue;
    text-decoration: none;

    &[href^="http"] {
      text-decoration: underline;
    }
  }
}

header {
  text-align: center;

  a {
    line-height: 20px;
    margin: 0;
    padding: 0 14px 0 12px;
  }
}

.main-title {
  color: $disruptive-blue;
  font-size: 3.2em;
  font-weight: 500;
  text-shadow: 2px 2px 0 #eee;
}

.main-pitch {
  font-weight: 300;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 30px 0;
  width: 740px;
}

main {
  text-align: center;

  .newsletter-sample {
    margin-bottom: 1em;
    width: 670px;
  }

  .subscribe-form {
    background-color: lighten($disruptive-blue, 30%);
    padding: 6px 0;

    input {
      font-size: 18px;
      min-width: 20em;
      padding: 7px 4px;
    }

    button {
      -webkit-appearance: none;
      background-color: $alt;
      background-image: linear-gradient(to bottom, lighten($alt, 5%), darken($alt, 5%));
      border: 1px solid darken($alt, 2.5%);
      border-radius: 3px;
      box-shadow: 1px 1px 3px #999;
      color: #fff;
      cursor: pointer;
      font-family: "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
      font-size: 18px;
      -webkit-font-smoothing: antialiased;
      font-weight: 500;
      margin-left: 10px;
      padding: 7px 14px;
    }

    div {
      font-family: verdana, tahoma, arial, sans-serif;
      font-size: 11px;
      margin-top: 4px;
    }
  }

  .sample {
    font-size: 1.4em;
    margin: 1em 0;
  }

  // .strap {
  //   margin: 1em 0;
  // }
}

#border-b {
  background-color: $disruptive-blue;
  bottom: 0;
  height: 8px;
  position: absolute;
  width: 100%;
}

.issues-page {
  display: block;
  padding: 0 12px;
  max-width: 740px;
  h1 {
    color: $disruptive-blue;
    font-weight: 300;
  }
  ul {
    list-style-type: none;
  }

  .description {
    ul {
      list-style-type: square;
      margin-top: 3px;
      li {
        line-height: 1.3em;
        margin-bottom: 2px;
        break-inside: avoid;
      }
    }
  }
}
